<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StartupCredentialsCollection" type="Application.StartupCredentialsCollection, Application" />
    <section name="StartupHiddenButtonsCollection" type="Application.StartupHiddenButtonsCollection, Application" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <StartupCredentialsCollection>
    <CredentialsCollection>
      <add title="My credentials" instanceId="My instance" userId="me" password="pass" />
    </CredentialsCollection>
  </StartupCredentialsCollection>
  <StartupHiddenButtonsCollection>
    <HiddenButtonsCollection>
      <add id="hidden 1" />
      <add id="hidden 2" />
    </HiddenButtonsCollection>
  </StartupHiddenButtonsCollection>
  <appSettings>
    <add key="INSTANCE_TITLE" value="My credentials" />
    <add key="SCRIPT_PATH" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>