body {
    background-color: black;
}

h1 {
  color: green;
  font-size: 78px;
}

p {
  color: yellow;
  font-size: 24px;
}

#testButton {
	background-color: lightgreen;
	background-color: lightgreen;
	width: 10em;
	height: 7em;
    font-size: 78px;	
}