@page
@model ContosoPizza.Pages.CpuMemoryModel
@{
    ViewData["Title"] = "CPU & Memory consumption";
}
<p id="cpu"></p>
<p id="ram"></p>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

