<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StartupCredentialsCollection" type="EncompassLauncher.StartupCredentialsCollection, EncompassLauncher"/>
    <section name="StartupCustomFieldsCollection" type="EncompassLauncher.StartupCustomFieldsCollection, EncompassLauncher"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <StartupCredentialsCollection>
    <CredentialsCollection>
      <add title="Prod-level test environment for Engineering" instanceId="BE11210186" userId="admin" password="AIAWJHEJHI" />
      <add title="dev/test site" instanceId="DEBE11216905" userId="admin" password="AICNYNKDRP" />
      <add title="PRMG CAP" instanceId="TEBE11173442" userId="docvelocity" password="Capsilon$2020!" />
      <add title="Prod-level performance test site" instanceId="BE11215315" userId="admin" password="AICCIWPDHR" />
    </CredentialsCollection>
  </StartupCredentialsCollection>
  <StartupCustomFieldsCollection>
    <CustomFieldsCollection>
      <add title="CX.DV.LASTMODIFIED.DELTACALC" scroll="153" />
    </CustomFieldsCollection>
  </StartupCustomFieldsCollection>
  <appSettings>
    <add key="LAUNCHER_DIRECTORY" value="C:\SmartClientCache\Apps\Ellie Mae\Encompass\"/>
    <add key ="INSTANCE_ID" value="BE11215315"/>
    <add key="LOAN_NUMBER" value="2009EM000018"/>
    <add key="VPN_LOGIN" value="em\hmyslitski"/>
    <add key="VPN_PASSWORD" value="toRnado-12345678"/>
  </appSettings>
</configuration>
